[package]
name = "fastcrypto"
version = "0.1.3"
license = "Apache-2.0"
authors = ["Mysten Labs <build@mystenlabs.com>"]
edition = "2021"
publish = ["crates-io"]
readme = "../README.md"
description = "Common cryptographic library used at Mysten Labs"
repository = "https://github.com/MystenLabs/fastcrypto"

[dependencies]
ark-bls12-377 = { version = "0.3.0", features = ["std"] }
base64ct = { version = "1.5.3", features = ["alloc"] }
bs58 = "0.4.0"
ed25519-consensus = { version = "2.0.1", features = ["serde"] }
eyre = "0.6.8"
hex = "0.4.3"
hkdf = { version = "0.12.3", features = ["std"] }
rand = { version = "0.8.5", features = ["std"] }
rust_secp256k1 = { version = "0.24.1", package = "secp256k1", features = ["recovery", "rand-std", "bitcoin_hashes", "global-context"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_bytes = "0.11.7"
serde_with = "2.0.1"
serde-big-array = { version = "0.4.1", optional = true }
signature = { version = "1.6.4", features = ["rand-preview"] }
tokio = { version = "1.21.1", features = ["sync", "rt", "macros"] }
zeroize = "1.5.7"
bulletproofs = "4.0.0"
curve25519-dalek-ng = "4.1.1"
merlin = "3.0.0"
aes = "0.8.2"
ctr = "0.9.2"
cbc = { version = "0.1.2", features = ["std"] }
aes-gcm = "0.10.1"
generic-array = { version = "0.14.6", features = ["serde"] }
typenum = "1.15.0"
# TODO: switch to https://github.com/celo-org/celo-bls-snark-rs
# when https://github.com/celo-org/celo-bls-snark-rs/issues/228 is solved
celo-bls = { git = "https://github.com/huitseeker/celo-bls-snark-rs", branch = "updates-2-with-parallelism-toggle", package = "bls-crypto", default-features = false }

ark-ec = { version = "0.3.0", features = ["std"] }
ark-ff = { version = "0.3.0", features = ["std", "asm"] }
ark-serialize = { version = "0.3.0", features = ["std"] }
ark-std = { version = "0.3.0", features = ["std"] }
blake2 = "0.10.5"
blake3 = "1.3.1"
blst = "0.3.10"
digest = "0.10.5"
once_cell = "1.16.0"
readonly = "0.2.2"
sha2 = "0.10.6"
sha3 = "0.10.6"
thiserror = "1.0.37"
twox-hash = { version = "1.6.3", optional = true }
schemars ="0.8.10"

fastcrypto-derive = { path = "../fastcrypto-derive", version = "0.1.2" }
tbls = { git = "https://github.com/benr-ml/celo-threshold-bls-rs", branch = "master", package = "threshold-bls" }

[[bench]]
name = "crypto"
harness = false

[[bench]]
name = "encoding"
harness = false

[features]
default = ["secure", "threads-bls_12_377"]
secure = []
copy_key = []
unsecure_schemes = ["dep:twox-hash", "dep:serde-big-array"]
no-threads-blst = ["blst/no-threads"]
threads-bls_12_377 = ["celo-bls/parallel", "ark-ec/parallel", "ark-ff/parallel", "ark-std/parallel"]
experimental = []

[dev-dependencies]
bincode = "1.3.3"
criterion = "0.4.0"
hex-literal = "0.3.4"
k256 = { version = "0.11.6", features = ["ecdsa", "sha256", "keccak256"] }
proptest = "1.0.0"
proptest-derive = "0.3.0"
serde_json = "1.0.87"
serde-reflection = "0.3.6"
wycheproof = "0.4.0"
faster-hex = "0.6.1"
rustc-hex = "2.1.0"
base64 = "0.13.1"
radix64 = "0.6.2"
base58 = "0.2.0"
rust-base58 = "0.0.4"
